{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Flash Workshop - DanWasHere {% endblock %}

{% block body %}
<div class="row page_content">

<div class="medium-12 columns">
  <h1>Flash Workshop</h1>

<p>I'm no longer coding in Flash, and these are around 10 years old, but some are fun to look at.</p>

<div class="row">

<div class="medium-6 large-4 columns clearfix">
<div class="panel">
	<h4>UltimaThrust</h4>
	<h5>Battle alien turrets and the force of gravity</h5>
	<p><a href="/ultimathrust/ultimathrust.php"><img src="{{ asset('bundles/danwashere/pix/portfolio/ultimathrust.jpg') }}" title="UltimaThrust" alt="Screen shot from UltimaThrust" class="left th" /></a>
	Enough messing around, this is why you're here :D. I wrote this single player, multi-level game at the end of 2003, in AS1 in Flash MX, it's based on the game Thrust from the 80s.</p>
	<p>You control a spaceship and the aim is to collect a pod and deposit it in a teleporter. On the way you are attacked by gun turrets, have to navigate through tunnels, doors and gravity generators.</p>
	<p><a href="/ultimathrust/ultimathrust.php">Play UltimaThrust</a></p>
</div>
</div>

<div class="medium-6 large-4 columns clearfix">
<div class="panel">
	<h4>Photo Scatter</h4>
	<p><a href="/portfolio_files/photo_scatter/photo_scatter.html"><img src="{{ asset('bundles/danwashere/pix/portfolio/photo_scatter.jpg') }}" title="Photo Scatter" alt="Screen shot from Photo Scatter" class="left th" /></a>
	Play with the photos as if they were scattered on a table. With the mouse you can pick them up and throw them around.</p>
	<p><a href="/portfolio_files/photo_scatter/photo_scatter.html">Open Photo Scatter</a></p>
</div>
</div>

<div class="medium-6 large-4 columns clearfix">
<div class="panel">
	<h4>Car Game</h4>
	<p><a href="/portfolio_files/car_game_1/index.html"><img src="{{ asset('bundles/danwashere/pix/portfolio/car_game_1.jpg') }}" title="Car Game" alt="Screen shot from Car Game" class="left th" /></a>
	A simple car racer with a lap timer. Car Game ... it's a game, with a car. Use arrow keys to drive. Don't crash.</p>
	<p><a href="/portfolio_files/car_game_1/index.html">Play Car Game</a></p>
</div>
</div>

<div class="medium-6 large-4 columns clearfix">
<div class="panel">
	<h4>Ball Game</h4>
	<p><a href="/flash_files/ballgame.html"><img src="{{ asset('bundles/danwashere/pix/portfolio/ball_game.jpg') }}" title="Ball Game" alt="Screen shot from Ball Game" class="left th" /></a>
	Use your mouse to knock the ball around; the grass reacts to the ball and the wind. If you click the sign the ball freezes and allows you to control the wind with your mouse.</p>
	<p><a href="/flash_files/ballgame.html">Play Ball Game</a></p>
</div>
</div>

<div class="medium-6 large-4 columns clearfix">
<div class="panel">
	<h4>3D Spinning Carousel Menu</h4>
	<p><a href="/portfolio_files/3d_carousel_menu/index.html"><img src="{{ asset('bundles/danwashere/pix/portfolio/menu_carousel.gif') }}" title="3D Carousel Menu" alt="Screen shot from 3D Carousel Menu" class="left th" /></a>
	A 3D rotating menu. You can click on the black buttons, or on the menu items themselves, and they all rotate to position the one you selected at the front.</p>
	<p>This was used as the basis for work on part of the <a href="#bbcw_ncsl"><abbr title="National College for School Leadership">NCSL</abbr> project for the <abbr title="BBC Worldwide Interactive Learning">BBCW</abbr></a>.</p>
	<p><a href="/portfolio_files/3d_carousel_menu/index.html">View 3D Carousel Menu</a></p>
</div>
</div>

</div>


<p>The rest are smaller experiments, most work by moving your mouse over the pictures.</p>

<p><a href="/flash_files/blob_grid1.html">Blob grid</a></p>
<p><a href="/flash_files/dots.html">Dots</a></p>
<p><a href="/flash_files/fish_eye_lens.html">Fish Eye Lens</a></p>
<p><a href="/flash_files/folding_mc.html">Folding Image Experiment</a></p>
<p><a href="/flash_files/grass_v1.html">Interactive Grass</a></p>
<p><a href="/flash_files/paper_clips.html">Paper Clips</a></p>
<p><a href="/flash_files/rectangle_push_v1.html">Rectangle push</a></p>
<p><a href="/flash_files/rectangle_rotation_v2.html">Rectangle push and rotate</a></p>
<p><a href="/flash_files/rubberbrick_rain_v1.html">Rubberbricks (Rectangle push continuation)</a></p>
<p><a href="/flash_files/rubberbrick_rain_v2.html">Rubberbricks with constraints</a></p>
<p><a href="/flash_files/snakes_v1.html">Snakes</a></p>
<p><a href="/flash_files/snakes_v2.html">Snakes II</a></p>
<p><a href="/flash_files/waving_lines_wmouse.html">Waving lines following mouse</a></p>
<p><a href="/flash_files/spirals_in_motion.html">Spirals in motion</a></p>
<p><a href="/flash_files/spirals_in_motion_v1.html">Spirals in motion 1</a></p>
<p><a href="/flash_files/spirals_in_motion_v2.html">Spirals in motion 2</a></p>
<p><a href="/flash_files/spirals_in_motion_v3.html">Spirals in motion 3</a></p>
<p><a href="/flash_files/spirals_in_motion_v4.html">Spirals in motion 4</a></p>
<p><a href="/flash_files/spirals_in_motion_v5.html">Spirals in motion 5</a></p>
<p><a href="/flash_files/swirls.html">Swirls</a></p>
<p><a href="/flash_files/tunnel_vision.html">Tunnel Vision</a></p>
<p><a href="/flash_files/worm_v1.html">Worm</a></p>

<h2>Maths experiments</h2>

<p><a href="/flash_files/fit_balls_into_space.3.html">Fitting random balls into a space</a></p>
<p><a href="/flash_files/fit_balls_into_space.3.a.html">Fitting uniform balls into a space</a></p>
<p><a href="/flash_files/gravity_2.html">Gravity</a></p>
<p><a href="/flash_files/photo_zoom.html">Photo Zoom (Pamplona Bull)</a></p>
<p><a href="/flash_files/point_to_vector.html">Maths experiment: Point to Vector</a></p>
<p><a href="/flash_files/camera_shutter.html">Camera shutter</a></p>

<p><a href="/flash_files/waving_lines_wball.html">Waving lines with ball</a></p>

</div>
</div>


{% endblock %}
