<html>
<head>
<head lang="en">
    <title>{% block title %} Untitled {% endblock %}</title>
    <meta name="Author" content="Dan Searle" />
    <meta name="Keywords" content="{% block page_keywords %}PHP, Developer, Programmer, Coder, Barcelona, MySQL, Web Development{% endblock %}" />
    <meta name="Description" content="{% block page_description %}Dan Searle's web site{% endblock %}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% block stylesheets %}
{% stylesheets
    'css/app.css'
    'bundles/danwashere/css/main.scss'
    filter='cssrewrite' output='css/compiled/all.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
</head>
<body>
{{ include('@App/Includes/googleAnalytics.html.twig') }}
<link href="http://fonts.googleapis.com/css?family=Raleway:600,400,200" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet" type="text/css">

      <div class="row">
        <div class="medium-4 large-6 columns namelogo">
          <h1>DanWasHere by Dan&nbsp;Searle</h1>
        </div>
        <div class="medium-8 large-6 columns">
          <div class="nav-bar text-center">
            <ul class="button-group">
              <li><a href="{{ path('_welcome') }}" class="button">About</a></li>
              <li><a href="#section-contact" class="button">Contact</a></li>
              <li><a href="http://blog.danwashere.com/" class="button">DWH en BCN Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
        
      <div class="hero">
        <div class="row">
          <div class="columns intro-text">
            <p>PHP Developer<br>in Barcelona</p> 
          </div>
        </div>
      </div>

      <div class="row" id="tech-skills-bullets">
        <div class="columns text-center">
          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
            <li>PHP</li>
            <li>MySQL</li>
            <li>GIT</li>
            <li>jQuery</li>
            <li>WordPress</li>
            <li>CodeIgniter</li>
            <li>Analysis</li>
            <li>HTML</li>
            <li>Client&nbsp;facing</li>
          </ul>
        </div>
      </div>

{% block body %}{% endblock %}

      <div class="row contact" id="section-contact">
        <hr>
        <div class="columns">
          <h4>Contact Me</h4>
          <div class="row">
            <div class="medium-4 columns text-center">
              <nobr>dan-AT-danwashere-DOT-com</nobr>
            </div>
            <div class="medium-4 columns text-center">
              <a href="http://es.linkedin.com/in/danksearle"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Dan Searle's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View my profile</span></a>
            </div>
            <div class="medium-4 columns text-center">
              <a href="https://twitter.com/danksearle" class="twitter-follow-button" data-show-count="false">Follow @danksearle</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
          </div>          
        </div>
      </div>

      <footer class="row">
        <hr>
        <div class="columns text-center">
          <p>Built with and kudos to: <a href="http://symfony.com/">Symfony</a>, <a href="http://foundation.zurb.com/index.html">ZURB Foundation</a>, <a href="https://github.com/danksearle/danwashere">GitHub</a>, <a href="http://dploy.io/">dploy</a>.</p>
        </div>
      </footer>

{% block javascripts %}
{% javascripts
    'js/app.js'
    output='js/compiled/all.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

</body>
</html>
