<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('_welcome') }}">Home</a></li>
                <li><a href="{{ path('_contact') }}">Contact</a></li>
                <li><a href="{{ path('_portfolio') }}">Portfolio</a></li>
                <li><a href="{{ path('_flash_history') }}">FlashHistory</a></li>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
